<div class="shadow-1 p-5 surface-card text-center">
  <div
    [class]="
      'border-circle bg-' +
      color +
      '-50 p-4 text-' +
      color +
      '-600 inline-flex justify-content-center align-items-center mb-4'
    "
  >
    <i [class]="icon + ' text-5xl'"></i>
  </div>
  <div class="text-900 font-medium text-xl mb-4">{{ title }}</div>
  <div class="text-700 text-sm mb-4 line-height-3 h-5rem">
    {{ body }}
  </div>
  <button
    pButton
    pRipple
    type="button"
    label="Leer más"
    class="p-button-text"
  ></button>
</div>
