<div
  class="surface-section flex flex-column lg:flex-row px-4 py-8 md:px-6 lg:px-8 align-items-center"
>
  <img
    src="assets/images/call-action-image.jpg"
    class="h-25rem border-round hidden lg:block"
  />
  <div
    class="bg-no-repeat bg-cover lg:border-noround-left border-round-xl px-4 py-7 sm:px-7 md:px-6"
    style="
      background: url(https://primefaces.org/primeblocks-ng/assets/images/blocks/cta/row.jpg);
    "
  >
    <img
      src="https://primefaces.org/primeblocks-ng/assets/images/blocks/cta/cta-building.png"
      class="w-full sm:w-15rem border-round block lg:hidden mx-auto mb-5"
    />
    <div class="text-indigo-50 text-4xl font-semibold mb-3">Prueba Gratis</div>
    <p class="text-indigo-100 mt-0 mb-5 line-height-3">
      Prueba nuestra plataforma de manera gratuita y veras como ayudara a tu
      negocio y no te cobramos hasta que generes ventas
    </p>
    <button
      pButton
      pRipple
      icon="pi pi-check"
      label="Registrate - prueba gratis"
      class="p-button-raised p-button-warning px-5 font-bold"
    ></button>
  </div>
</div>
