<div class="px-4 py-8 md:px-6 lg:px-8 text-center bg-gray-50">
  <div class="mb-3 font-bold text-2xl">
    <span class="text-900">Nuestro Producto, </span>
    <span class="text-blue-600">Lo que ofrecemos</span>
  </div>
  <div class="text-700 text-sm mb-6">
    Algunas de nuestras significativas caracteristicas sobre mkStoreFull
  </div>
  <div class="grid">
    <div class="col-12 md:col-4">
      <app-card-feature
        icon="pi pi-heart"
        body=" Nuestra interfaz es amigable con el usuario, es de fácil uso, que podras
    manejarlo sin necesidad de largas clases de capacitaciones."
        title="Fácil de usar"
        color="blue"
      ></app-card-feature>
    </div>
    <div class="col-12 md:col-4">
      <app-card-feature
        icon="pi pi-wifi"
        body="Nuestro software es de carga rápida lo que da una experiencia de usuario increible"
        title="Carga rápida"
        color="purple"
      ></app-card-feature>
    </div>
    <div class="col-12 md:col-4">
      <app-card-feature
        icon="pi pi-lock"
        body="En nuestra aplicación encontraras compras seguras y también el https lo cual significa seguridad en una página web"
        title="Segura"
        color="orange"
      ></app-card-feature>
    </div>
  </div>
</div>
