<p-toast></p-toast>
<div class="card w-full">
  <div class="">
    <p-toolbar styleClass="mb-4 gap-2 bg-white">
      <ng-template pTemplate="left">
        <button
          pButton
          pRipple
          label="Nuevo"
          icon="pi pi-plus"
          class="p-button-success mr-2"
          (click)="openNew()"
        ></button>
      </ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="categories"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="['nombre']"
      [tableStyle]="{ 'min-width': '100%' }"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Mostrando {first} de {last} para {totalRecords} Entidades"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Administrar Categorias</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              placeholder="Buscar..."
              (input)="dt.filterGlobal(getEventValue($event), 'contains')"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nombre">
            Nombre <p-sortIcon field="nombre"></p-sortIcon>
          </th>
          <th>Image</th>

          <th>Acción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-categoria>
        <tr>
          <td>{{ categoria.nombre }}</td>
          <td>
            <img [src]="categoria.url_imagen" class="shadow-4 w-1" />
          </td>

          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-warning p-button-text mr-2"
              (click)="onEdit(categoria)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger p-button-text"
              (click)="onDelete(categoria)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          En total son {{ categories ? categories.length : 0 }} categorias.
        </div>
      </ng-template>
    </p-table>
  </div>

  <p-dialog
    [(visible)]="showDialog"
    [style]="{ width: '450px' }"
    header="Product Details"
    [modal]="true"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">
      <form [formGroup]="form">
        <div class="field">
          <label for="name">Categoria</label>
          <input
            type="text"
            pInputText
            id="name"
            required
            autofocus
            formControlName="nombre"
          />
          <small
            class="p-error"
            *ngIf="form.controls['nombre'].invalid && submited"
            >categoria es requerido.</small
          >
        </div>
        <div class="field">
          <label for="imgen">Imagen</label>
          <p-fileUpload
            accept="image/*"
            (onSelect)="OnSelect($event)"
            [auto]="true"
          >
            <ng-template let-file pTemplate="file">
              <div class="flex justify-content-between align-items-center">
                <div class="pr-3">
                  <img
                    *ngIf="dto?.url_imagen"
                    [src]="dto?.url_imagen"
                    class="image-template-choose"
                  />
                  <img *ngIf="url" [src]="url" class="image-template-choose" />
                </div>
                <div class="pr-3">
                  <p>{{ dto.imagen.name }}</p>
                </div>
                <div>
                  <button
                    *ngIf="url"
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-times"
                    class="p-button-rounded p-button-danger"
                    (click)="onRemove()"
                  ></button>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="content"> </ng-template>
          </p-fileUpload>
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="hideDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-text"
        (click)="OnSave()"
      ></button>
    </ng-template>
  </p-dialog>
</div>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
