<ul class="list-none p-0 m-0">
  <li
    class="flex py-3 align-items-center border-bottom-1 surface-border"
    *ngFor="let producto of cartProducts"
  >
    <img [src]="producto.imagen" class="w-4rem h-4rem flex-shrink-0 shadow-1" />
    <div class="pl-3 mr-8">
      <span class="text-900 font-medium">{{ producto.nombre }}</span>
      <div class="text-600 mt-2">{{ producto?.categoria.nombre }}</div>
    </div>
    <div class="text-900 font-medium ml-auto">
      {{ producto.precio | currency : "PEN" }}
    </div>
  </li>
  <!--prices-->
  <div
    class="flex align-items-center justify-content-between mb-3"
    *ngIf="total > 0"
  >
    <span class="text-900 font-medium"
      >Total <span class="text-600 text-sm font-normal">incl. IGV</span>
    </span>
    <div class="text-900 font-medium">{{ total | currency : "PEN" }}</div>
  </div>
  <li class="py-3 flex align-items-center p-fluid" *ngIf="total > 0">
    <button
      pButton
      pRipple
      type="button"
      label="Comprar"
      (click)="onClickForm()"
    ></button>
  </li>
</ul>
