<p-menubar styleClass="bg-white w-full fixed z-2 menubar">
  <ng-template pTemplate="start">
    <img src="assets/images/logo-certus-3.png.webp" height="40" class="mr-2" />
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex justify-content-between">
      <button
        pButton
        pRipple
        type="button"
        class="p-button-rounded p-button-text"
        (click)="op.toggle($event)"
      >
        <i
          class="pi pi-shopping-cart mr-4"
          pBadge
          style="font-size: 2rem p-text-secondary"
          [value]="'' + counter"
          severity="success"
        ></i>
      </button>
      <p-overlayPanel #op [showCloseIcon]="true" [style]="{ width: '450px' }">
        <ng-template pTemplate>
          <div class="text-900 text-xl pb-3 border-bottom-1 surface-border">
            tu Carrito de compras
          </div>
          <app-list-buy-car
            [cartProducts]="cartProducts"
            [total]="total"
          ></app-list-buy-car>
        </ng-template>
      </p-overlayPanel>
    </div>
  </ng-template>
</p-menubar>
